.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  font-size: 3rem;
  color: #fff;
}

.message {
  margin-bottom: 0.9rem;
  padding: 1rem;
  width: 39.6rem;
  max-width: 39.6rem;
  height: 23.6rem;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.8rem;
  color: #000;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #fff;
  background: #6f48eb;
}